# Node modules
node_modules/
client/node_modules/

# Environment variables
.env

# Build files (optional if you want to commit build for deployment)
client/build

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Mac or Windows specific files
.DS_Store
Thumbs.db
